/* CUSTOM FONT */

@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

* {
    font-family: Inter;
}

/* MOBILE LAYOUT */

html {
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    background-color: hsl(36, 100%, 99%);
}

header,
main {
    width: 100%;
}

header {
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

p {
    font-size: 15px;
    line-height: 1.5;
    color: hsl(236, 13%, 42%);
}

h2 {
    color: hsl(5, 85%, 63%);
}

h4 {
    color: hsl(240, 100%, 5%);
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.desktop-header {
    display: none;
}

.content-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 40px;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.web3-image-image-container {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/images/image-web-3-mobile.jpg");
}

.main-content-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-content-title {
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

button {
    width: 50%;
    margin-top: 15px;
    padding: 15px 0;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
    background-color: hsl(5, 85%, 63%);
}

.new-content-container {
    width: 100%;
    background-color: hsl(240, 100%, 5%);
    padding: 25px 20px;
    box-sizing: border-box;
}

.new-content-title {
    color: hsl(35, 77%, 62%);
}

.new-content-subtitle {
    color: hsl(36, 100%, 99%);
}

.new-content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid hsl(236, 13%, 42%);
}

.new-content:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.other-content {
    display: flex;
    gap: 25px;
}

.other-content-image-container {
    height: 124px;
}

img[alt="retro pcs"],
img[alt="top laptops"],
img[alt="gaming growth"] {
    height: 100%;
    max-height: 100%;
}

.other-content-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other-heading {
    color: hsl(5, 85%, 63%);
}

.mobile-menu {
    width: 70%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsl(36, 100%, 99%);
}

.menu-close-container {
    display: flex;
    justify-content: flex-end;
}

ul {
    margin: 0;
    padding-left: 25px;
    list-style: none;
}

.mobile-navigation li {
    margin-bottom: 40px;
}

/* DESKTOP LAYOUT */

@media screen and (min-width: 1150px) {
    header {
        margin: 0 auto 50px auto;
        max-width: 1110px;
    }
    .mobile-header {
        display: none;
    }
    .desktop-header {
        display: flex;
        justify-content: space-between;
    }
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 42px;
        padding-left: 0;
    }
    .desktop-header li {
        color: hsl(236, 13%, 42%);
    }
    .main-content {
        grid-area: main-content;
        gap: 20px;
    }
    .web3-image-image-container {
        height: 300px;
        background-image: url("../assets/images/image-web-3-desktop.jpg");
    }
    .main-content-title-container {
        width: 47%;
    }
    .main-content-description {
        width: 53%;
    }
    .main-content-title {
        font-size: 56px;
        line-height: 1;
    }
    .main-content-details {
        flex-direction: row;
        gap: 70px;
    }
    .main-content-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .new-content-container {
        grid-area: new-content;
    }
    .retro-pcs {
        grid-area: retro-pcs;
    }
    .top-laptops {
        grid-area: top-laptops;
    }
    .gaming-growth {
        grid-area: gaming-growth;
    }
    .content-container {
        max-width: 1110px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "main-content main-content new-content" "main-content main-content new-content" "retro-pcs top-laptops gaming-growth";
        grid-column-gap: 30px;
        grid-row-gap: 60px;
    }
    /* HOVER STATE */
    .desktop-header li:hover {
        cursor: pointer;
        color: hsl(5, 85%, 63%);
    }
    button:hover {
        cursor: pointer;
        color: hsl(36, 100%, 99%);
        background-color: hsl(240, 100%, 5%);
    }
    .new-content-subtitle:hover {
        cursor: pointer;
        color: hsl(35, 77%, 62%);
    }
    .other-subtitle:hover {
        cursor: pointer;
        color: hsl(5, 85%, 63%);
    }
}
